Repository asyncapi/modelina, changes with the owners that CODEOWNERS names for each.
All owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve, @Samridhi-98, @ron-debajyoti

chore(release): v0.51.0 (#673)
  docs/usage.md
  package-lock.json
  package.json
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Removed unnecessary redefining of properties
  src/models/ConstrainedMetaModel.ts
  src/models/MetaModel.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

refactor: introduce new core models (#655)
  docs/usage.md
  src/models/ConstrainedMetaModel.ts
  src/models/MetaModel.ts
  src/models/index.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Added splitter
  src/helpers/Splitter.ts
  src/helpers/index.ts
  test/helpers/Splitter.spec.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Added test
  test/helpers/Splitter.spec.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Fixed lint
  src/helpers/Splitter.ts
  test/helpers/Splitter.spec.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

feat: add proper functions for JSON generators and renderers
  src/generators/json/JSONGenerator.ts
  src/generators/json/JSONRenderer.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Add convertion
  src/helpers/CommonModelToMetaModel.ts
  src/helpers/index.ts
  test/helpers/CommonModelToMetaModel.spec.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

An example, unit tests and documentation
  docs/languages/Csharp.md
  examples/csharp-change-collection-type/README.md
  examples/csharp-change-collection-type/__snapshots__/index.spec.ts.snap
  examples/csharp-change-collection-type/index.spec.ts
  examples/csharp-change-collection-type/index.ts
  examples/csharp-change-collection-type/package-lock.json
  examples/csharp-change-collection-type/package.json
  src/generators/csharp/CSharpGenerator.ts
  src/generators/csharp/CSharpRenderer.ts
  test/generators/csharp/CSharpRenderer.spec.ts
  test/generators/csharp/__snapshots__/CSharpGenerator.spec.ts.snap
  test/generators/csharp/presets/__snapshots__/CommonPreset.spec.ts.snap
  test/generators/csharp/presets/__snapshots__/JsonSerializerPreset.spec.ts.snap
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve, @ron-debajyoti

Split out functionality.
  src/generators/typescript/TypeScriptConstrainer.ts
  src/generators/typescript/constrainer/ModelEnumKeyConstrainer.ts
  src/generators/typescript/constrainer/ModelNameConstrainer.ts
  src/generators/typescript/constrainer/ModelPropertyKeyConstrainer.ts
  src/helpers/Constraints.ts
Owners: @Samridhi-98, @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Changed a couple of names
  examples/csharp-change-collection-type/__snapshots__/index.spec.ts.snap
  examples/csharp-change-collection-type/index.spec.ts
  examples/csharp-change-collection-type/package.json
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

feat: add JSDoc style comment support to Typescript generator (#621)
  docs/languages/TypeScript.md
  docs/presets.md
  examples/README.md
  examples/typescript-generate-comments/README.md
  examples/typescript-generate-comments/__snapshots__/index.spec.ts.snap
  examples/typescript-generate-comments/index.spec.ts
  examples/typescript-generate-comments/index.ts
  examples/typescript-generate-comments/package-lock.json
  examples/typescript-generate-comments/package.json
  src/generators/typescript/presets/DescriptionPreset.ts
  src/generators/typescript/presets/index.ts
  test/generators/typescript/preset/DescriptionPreset.spec.ts
  test/generators/typescript/preset/__snapshots__/DescriptionPreset.spec.ts.snap
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Notes added by 'git notes add'
  98/3f3edd4fd4bd3acb1497fd8bce77d09d9a1da6
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

chore(release): v0.52.0
  package-lock.json
  package.json
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

chore(release): v0.52.0 (#678)
  package-lock.json
  package.json
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

refactor: add splitter (#676)
  src/helpers/Splitter.ts
  src/helpers/index.ts
  test/helpers/Splitter.spec.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Fixed linter
  src/helpers/index.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

refactor: add CommonModel conversion to MetaModel (#677)
  src/helpers/CommonModelToMetaModel.ts
  src/helpers/index.ts
  test/helpers/CommonModelToMetaModel.spec.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

feat: add JSONRenderer.spec.ts and snapshots
  src/generators/json/JSONGenerator.ts
  src/generators/json/JSONRenderer.ts
  test/generators/json/JSONGenerator.spec.ts
  test/generators/json/JSONRenderer.spec.ts
  test/generators/json/__snapshots__/JSONRenderer.spec.ts.snap
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Update examples/generate-go-enums/__snapshots__/index.spec.ts.snap
  examples/generate-go-enums/__snapshots__/index.spec.ts.snap
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Update examples/generate-go-enums/README.md
  examples/generate-go-enums/README.md
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

add type name before const name to avoid possible collision in same package
  examples/generate-go-enums/__snapshots__/index.spec.ts.snap
  examples/generate-go-enums/index.ts
  src/generators/go/renderers/EnumRenderer.ts
  test/generators/go/GoGenerator.spec.ts
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

feat: add partial tests for JSONGenerator
  test/generators/json/JSONGenerator.spec.ts
  test/generators/json/__snapshots__/JSONGenerator.spec.ts.snap
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Updated README.md on my new example
  examples/csharp-change-collection-type/README.md
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

chore: add refactor for codesmell and add tests for JSONGenerator
  src/generators/json/JSONGenerator.ts
  src/generators/json/JSONRenderer.ts
  test/generators/json/JSONGenerator.spec.ts
  test/generators/json/__snapshots__/JSONGenerator.spec.ts.snap
Owners: @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

CODEOWNERS:

# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.

# Core Champions that does a little of everything
* @magicmatatjahu @jonaslagoni @asyncapi-bot-eve 

# Input Champions for AsyncAPI input
*/processors/AsyncAPIInputProcessor*.ts 

# Input Champions for OpenAPI input
*/processors/OpenAPIInputProcessor*.ts 
*/processors/SwaggerInputProcessor*.ts 

# Input Champions for JSON Schema input
*/processors/JsonSchemaInputProcessor*.ts 

# Language Champions for TypeScript and it's presets
*/generators/typescript/* @Samridhi-98

# Language Champions for JavaScript and it's presets
*/generators/javascript/* @Samridhi-98

# Language Champions for Go and it's presets
*/generators/go

# Language Champions for Java and it's presets
*/generators/java/*

# Language Champions for C# and it's presets
*/generators/csharp/* @ron-debajyoti
